$page.setTitle("IQ Assessment Creation Form")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#set($test_item=$item.getProperty("iq:iqAssessmentData/iqTest"))
#set($iq_sources=["WASI","WISC","WAIS"])

#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end


<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">IQ Assessment #if($om.getId()) Modification Form #else Creation Form #end</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>


	<TR>
		<TD>
    		<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								#parse("/screens/xnat_edit_subjectAssessorData.vm")				
			</TD></TR>
				<TR>	
					<TD width="35%" align="left">Assessment Date</TD>
					<TD align="left">#xdatDateBox("iq:iqAssessmentData/date" $item $vr $years)</TD>
				</TR>			
				<TR><TD>Derived Full Scale IQ (FSIQ)</TD><TD>#xdatTextBox("iq:iqAssessmentData/fsiq" $item "" $vr)</TD></TR>
				<TR><TD>Verbal IQ</TD><TD>#xdatTextBox("iq:iqAssessmentData/verbalIq" $item "" $vr)</TD></TR>
				<TR><TD>Performance IQ</TD><TD>#xdatTextBox("iq:iqAssessmentData/performanceIq" $item "" $vr)</TD></TR>
				<BR />
				<TR>
					<TD width="35%">IQ Source</TD>
					<TD>#xdatSelectBoxWSingleValue("iq:iqAssessmentData/iqSrc" $item $iq_sources $vr)</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
    </TABLE>
	<TR>
		<TD>
			<BR /><BR />
        	<DIV name="wasiData">
			#xdatHiddenBox("iq:iqAssessmentData/iqtest/iq_abstractiqtest_id" $item "")
			#parse("/screens/XDATScreen_edit_iq_wasi1999Data.vm")
			</DIV>
        </TD>
    </TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE
   validateSubjectAssessorForm();
}
</script>
